<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello User</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="user-control">
        <img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*HeID9SZbgERvt3qVWzE9BQ.gif" alt="homepage">
        <h1>Welcome to Dev Community</h1>
        <span>Vignesh H E 	&#9829;</span>
        <button>logout</button>
    </div>
</body>
</html>